.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-div {
  background-color: blueviolet;
  padding: 2em;
  border-radius: 2em;
}
.todolist {
  margin: 1em;
}
.todolist-item {
  --item-height: 2.5em;
  --item-padding: 0.5em;

  display: flex;
  align-items: center;
  gap: 0.5em;
  height: var(--item-height);
  margin: calc(var(--item-padding) / 2) 0;
}

.todolist-item input {
  height: calc(var(--item-height) - var(--item-padding));
}
input[type="checkbox"] {
  width: calc(var(--item-height) * 0.48);
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(2deg);
  }
  66% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.todolist-item input.invalid {
  animation: 0.5s shake;
}

.todolist-item-text {
  flex-grow: 1;
  font-size: 1.2em;
}

input {
  font-size: 1.2em;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 0.3em;
  margin: 0.2em;
  background-color: rgb(221, 216, 226);
}
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e2dcdc;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2em 0px;
}

button:hover {
  background-color: rgb(75, 59, 90);

  outline: none;
}
.icon {
  font-size: 1.3em;
}
.icon:hover {
  font-size: 1.4em;
  cursor: pointer;
}
